*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #E5E5E5;
}
/* Container geral */

.container{
    display: grid;
    grid-template-areas: "header header header"
                         "content content content"
                         "footer footer footer";
    width: 100vw;
    height: 100vh;
} 

/* Header */

.header{
    grid-area: header;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
}

a{
    text-decoration: none;
}

.header .menu a span{
    margin-right: 3rem;
    color: rgba(84, 84, 84, 1);
    font-family: 'Open Sans', sans-serif;
}

.header img{
    margin-left: 8.75rem;
}

.header .menu a:nth-child(3){
    margin-right: 7rem;
}

/* Conteudo */

.content{
    display: grid;
    grid-area: content;
    grid-template-areas: ". . . . ."
                         ". content . sidebar ."
                         ". content . sidebar .";
}

.conteinerconteudo{
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3.5rem 3rem 4rem 6.3rem;
}

.conteudo1{
    background-color: rgba(255, 255, 255, 1);
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 45rem;
}

.conteudo1 p:nth-child(4),
.conteudo1 p:nth-child(5){
    text-align: left;
    color: rgba(84, 84, 84, 1);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 0 1.5rem 1.5rem 1.5rem;
}

.conteudo1 img{
    margin-bottom: 1.5rem;
}

.sidebar{
    grid-area: sidebar;
}





.footer{
    grid-area: footer;
}